
<!--<h3>Elabs Brazil</h3>
<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" for="pacienteSeries">Código de Consecutivo de códigos de pacientes</span>
                <input type="number" class="form-control" name="pacienteSeries" ref="PacienteSeries" required step="0" min="0">
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="crearAdelanto" ref="CrearAdelanto" value="true">
                    Facturar Pedido puede crear Adelanto
                </label>
            </div>
        </div>
    </div>
</div>
<h3>Servicios web de Brasil</h3>
<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" for="pacienteSeries">Url para enviar Entradas</span>
                <input type="text" class="form-control" name="entradasUrl" ref="EntradasUrl" required>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" for="pacienteSeries">Url para enviar Precios de entrega</span>
                <input type="text" class="form-control" name="preciosDeEntregaUrl" ref="PreciosDeEntregaUrl" required>
            </div>
        </div>
    </div>
</div>
<h3>Devolución de Venta</h3>
<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" for="cuentaDevolucionBaixa">Cuenta para asiento de devolución por pago de Journal Transfer</span>
                <input type="text" class="form-control" name="cuentaDevolucionBaixa" ref="CuentaDevolucionBaixa" required>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" for="encryptionKey">Encryption Key</span>
                <input type="text" class="form-control" name="encryptionKey" ref="EncryptionKey" required>
            </div>
        </div>
    </div>-->